<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
					    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
					    http://www.springframework.org/schema/context 
					    http://www.springframework.org/schema/context/spring-context-4.3.xsd
					    http://www.springframework.org/schema/mvc 
					    http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">
	<!-- 以上.xsd文件，不加版本号，表示默认使用当前版本 -->

	<!-- Spring 注解配置 -->
	<context:annotation-config />

	<!--扫描注解 -->
	<context:component-scan base-package="com.dp.petshome.*">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<!-- springMVC 注解配置 -->
	<mvc:annotation-driven />

	<bean id="propertyConfigurer" class="com.dp.petshome.common.utils.PropertyUtil">
		<property name="order" value="1" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="locations">
			<list>
				<value>classpath*:env.properties</value>
				<value>classpath*:jdbc.properties</value>
			</list>
		</property>
	</bean>

	<import resource="classpath*:spring/datasource-config.xml" />
	<import resource="classpath*:spring/dubbo-provider.xml" />
</beans>
